

.item {
    max-height: 250px;
    max-width: 250px;
    border: 2px solid black;
}

.product_text {
    font-size: 30px;
}

.input_box {
    width: 230px;
    height: 40px;
    margin-left: 60px;
}

.input_box_name {
    margin-left: 35px;

}

.input_box_price {
    margin-left: 50px;
}

.hide {
    visibility: hidden;
}

.item_type_book {
    height: 310px;
    z-index: 2;
    transform: translate(1px, -140px);
}

.item_type_furniture {
    z-index:3;
    transform: translate(2px, -80px);

}
